/*Atribuindo valores que serão reutilizados*/
:root {
    --cor-de-fundo: white;
    /*Definindo cor de fundo*/
    --cor-de-letra: #000000;
}

/*define como os elementos vão se comportar em telas com o tamanho menor*/
@media (min-width:600px) {

    /*Precisa especificar essa tela em pixels*/
    h1 {
        font-size: 16px;
    }

    button {
        width: 100%;
        margin-bottom: 10px;
        margin-bottom: 10px;
    }
}

@media(min-width:601px) and (max-width:1200px) {

    /*Precisa especificar essa tela em pixels*/
    h1 {
        font-size: 1.75em;
    }

    button {
        width: 100%;
        border-radius: 0px;
        margin-bottom: 10px;
    }
}

/*Estou atribuindo a todos os elementos essa propriedade*/
* {
    margin: 0;
    /*Espaço interno*/
    padding: 0;
    /*Espaço externo*/
}

body {
    padding-top: 128px;
    background-color: var(--cor-de-fundo);
    /*define a cor de fundo de uma caixa*/
    display: flex;
    /*definindo flexibilidade no corpo*/
    flex-direction: column;
    /*Organiza os elementos da caixa em coluna*/
    justify-content: center;
    /*Centraliza os elementos horizontal*/
    align-items: center;
    /*Centraliza os elementos vertical*/
    padding-left: 16px;
    /*Espaço externo a esquerda*/
    padding-right: 16px;
    /*Espaço externo a direita*/
}

.carrosel {
    width: 100%;
    height: 384px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.imagem-fundo {
    background-image: url(https://images.pexels.com/photos/561652/pexels-photo-561652.jpeg);
    background-repeat: cover;
    background-position: 70%;
    /*Quanto o tamanho original da imagem fica visivel*/
    opacity: 70%;
    /*Trasnparencia dos elementos dentro da caixa*/
    position: absolute;
    /*Pega as propriedades do fundo do pai*/
    width: 100%;
    height: 500px;
    color: var(--cor-de-letra);
}

.imagem-fundo1 {
    background-image: url(https://images.pexels.com/photos/833052/pexels-photo-833052.jpeg);
    background-repeat: cover;
    background-position: 80%;
    /*Quanto o tamanho original da imagem fica visivel*/
    opacity: 70%;
    /*Trasnparencia dos elementos dentro da caixa*/
    position: absolute;
    /*Pega as propriedades do fundo do pai*/
    width: 100%;
    height: 500px;
    color: var(--cor-de-letra);
}

.seta {
    background-color: transparent;
    z-index: 1000;
}

.seta:hover {
    background-color: #363434;
}

.esquerda {
    transform: rotate(180deg);
}

/*Familia de elemento, onde será usada a classe*/
.controle {
    padding-top: 16px;
    /*Espaço externo a cima*/
    padding-bottom: 16px;
    /*Espaço externo a baixo*/
    background-color: white;
    color: black;
    border-radius: 15px;
    /*Borda radiana ou circular*/
    width: 100%;
    /*tamanho do elemento em relação a largura*/
}

/*definindo um espaço entre os decendentes*/
.controle>* {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Reaplicando herança aos filhos em especifico*/
.controle>form div {
    width: 100%;
}

/*Aplicando estilo nos elementos citados abaixo*/
input[type=\"text\"],
input[ type=\"email\"],
input[type=\"password\"],
select,
textarea {
    width: 80%;
    padding-top: 8px;
    padding-left: 4px;
    padding-bottom: 8px;
    border: 1px solid #ccc;
    /*Aplicando uma borda com um estilo específico*/
    border-radius: 4px;

}

textarea {
    resize: none;
    /*Desabilita a edição do tamanho do campo textarea*/
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
}

button {
    background-color: #ecf0f1;
    color: var(--cor-de-letra);
    padding: 7px 7px;
    border: none;
    border-radius: 16px;
    font-size: 16px;
}

button:hover {
    background-color: rgb(93, 173, 173);
}

.contendo {
    width: 100%;
    display: flex;
    flex-direction: row;
    /*Informo que a caixa será dividida em linha*/
    flex-wrap: wrap;
    /*Informe se o elemento não encaixar, vai para linha de baixo*/
    border-radius: 4px;
    max-width: 1088px;
    /*O tamanho maximo que esse elemento pode ter*/

}

.card {
    width: 256px;
    padding: 4px 8px 4px 8px;
    background-color: rgba(153, 148, 148, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}

.card>a {
    width: 80%;
    text-decoration: none;
    text-align: center;
    color: #e0dcdc;
    padding: 8px 0px 8px 0px;
    background-color: #807373;
    border-radius: 16px;
}

.card>a:hover {
    background-color: #971c1c;
}

.header {
    position: relative;
    background-clip: border-box;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.75rem;
    background-color: rgb(33 150 243);
    box-shadow: 0 10px 15px -3px rgba(33, 150, 243, .4), 0 4px 6px -4px rgba(33, 150, 243, .4);
    height: 14rem;
}

.info {
    border: none;
    padding: 1.5rem;
    text-align: center;
}

.title {
    color: rgb(38 50 56);
    letter-spacing: 0;
    line-height: 1.375;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.footer {
    padding: 0.75rem;
    border: 1px solid rgb(236 239 241);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 140, 255, 0.082);
}

.tag {
    font-weight: 300;
    font-size: .75rem;
    display: block;
}

.action {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    box-shadow: 0 4px 6px -1px rgba(33, 150, 243, .4), 0 2px 4px -2px rgba(33, 150, 243, .4);
    color: rgb(255 255 255);
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
    padding: 0.75rem 1.5rem;
    background-color: rgb(33 150 243);
    border-radius: 0.5rem;
}


header {
    height: 64px;
    /*Fixar o no cabeçalho no topo da tela*/
    position: fixed;
    /*Informe em qual posição ficará fixa*/
    /*Em cima*/
    top: 0px;
    /*Esquerda*/
    left: 0px;
    /*Direita*/
    right: 0px;
    /*Vou garantir que o cabeçalho está a cima dos demias elementos da pag*/
    z-index: 1000;
    background-color: #bdc3c7
        /*Mudar cor do cabeçalho*/
}

.Navegação {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    color: white;
    /*Posição relativa ao pai(header), principal quando ocultar o menu*/
    position: relative;
}

/*Estiliza os elemnentos a dentro da nav-desktop*/
.nav-desktop a {
    color: #000000;
    text-decoration: none;
    margin: 0px 10px;
    font-size: 16px;
    white-space: nowrap;
}

/*Cor das letras do cabeçalho/ email e tals*/
.nav-desktop a:hover {
    color: #FFFFFF;
}

.Navegação .pesquisa {
    display: flex;
    align-items: center;
    background-color: var(--cor-de-letra);
    border-radius: 8px;
    margin-left: auto;
    margin-right: 10px;
}

.usuario {
    display: flex;
    gap: 10px;
}

.pesquisa input {
    width: auto;
    padding: 4px;
    border: none;
    border-radius: 4px;
}

.pesquisa button {
    background-color: #FFFFFF;
    border: none;
    border-radius: 4px;
}

.menu-escondido,
.menu {
    /*Esconder o checkbox*/
    display: none;
}

.linha {
    /*Faz com que cada linha ocupe seu proprio espaço*/
    display: block;
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 4px;
    /*Anima todas as propriedades que mudam em 0.3s*/
    transition: all 0.3s ease-in-out;
}

.menu {
    max-height: 0px;
    /*Esconde conteúdo que trasnborda quando o menu está fechado*/
    overflow: hidden;
    /*Anima a abertura/fechamento do menu*/
    transition: max-height 0.4s ease-in-out;
    list-style: none;
    /*Posiciona o menu em relação ao seu ancestral mais proximo(.navegação)*/
    position: absolute;
    /*Posiciona o menu lateral abaixo do cabeçalho*/
    top: 100%;
    left: 0%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 0px;
    /*Posição em relação ao demais elementos(-1 a atrás, 1000 a frente)*/
    z-index: 1000;
}

.menu li {
    text-align: center;
}

.menu li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 16px;
}

.menu li a:hover {
    color: silver;
}

/*Quando o usuario tocar no menu,vai estilizar(dar peso) ao seu irmão(Menu)*/
.menu-escondido:checked~.menu {
    max-height: 500px;
    padding: 8px 0;
}

.menu-escondido:checked~hamburguer .linha1 {
    /*Trasnformando as linhas para um X*/
    transform: rotate(45deg);
    translate: (8px, 8px);
}

.menu-escondido:checked~hamburguer .linha2 {
    /*Torna o elemento invisivel*/
    opacity: 0px;
}

.menu-escondido:checked~hamburguer .linha3 {
    /*Trasnformando as linhas para um X*/
    transform: rotate(-45deg);
    translate: (8px, -8px);
}

@media(max-width: 600px) {
    .seta {
        width: auto;
    }

    .seta:hover {
        background-color: #3d83ac;
    }

    .card {
        width: 100%;
        margin: 100%;
        margin: 4px 8px 4px 8px;
        background-color: var(--cor-de-letra);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 8px;
    }

    .nav-desktop,
    .usuario button span {
        /*Removendo o peso dos elementos*/
        display: none;
    }

    .menu {
        display: block;
    }

    .hamburguer {
        /*mostra o cursor de mão*/
        cursor: pointer;
        /*Adiciona um espaçamento de 8px*/
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 32px;
        height: 32px;

    }

    .hamburguer:hover .linha {
        background-color: #FFFFFF;
    }
}